:root{
    --one-color:#565A4A;
}
svg{
    width: 1.2rem;
    fill: white;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
    overflow-x: hidden;
}